<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of schemaFields">
    <label *ngIf="field.type" [for]="field.name">{{ field.label }}</label>

    <!-- Text Input -->
    <textarea
      *ngIf="field.type === 'string' || field.type === 'array'"
      rows="5"
      pTextarea
      [formControlName]="field.name"
      [id]="field.name"
    ></textarea>

    <!-- Number Input -->
    <input
      *ngIf="field.type === 'integer'"
      type="number"
      [formControlName]="field.name"
      [id]="field.name"
    />

    <!-- Error Messages -->
    <div class="error" *ngIf="dynamicForm.get(field.name)?.invalid">
      <small *ngIf="dynamicForm.get(field.name)?.errors?.['required']">
        {{ field.label }} is required.
      </small>
      <small *ngIf="dynamicForm.get(field.name)?.errors?.['min']">
        {{ field.label }} must be at least {{ field.min }}.
      </small>
    </div>
  </div>

  <p-button
    type="submit"
    size="small"
    label="Submit"
    [disabled]="dynamicForm.invalid || !dynamicForm.dirty"
  >
    <ng-container
      *ngIf="akgentService.isSavingState[agentId]; else refreshIcon"
    >
      <i class="pi pi-spinner pi-spin"></i>
    </ng-container>
    <ng-template #refreshIcon>
      <i class="pi pi-send"></i>
    </ng-template>
  </p-button>
</form>
