<span class="process-controls">
  <button
    pButton
    type="button"
    class="p-button-text p-button-sm"
    title="Backward"
    (click)="backward()"
    [disabled]="!isPaused"
  >
    <span class="pi pi-backward"></span>
  </button>
  <button
    pButton
    type="button"
    class="p-button-text p-button-sm"
    title="Back"
    (click)="back()"
    [disabled]="!isPaused"
  >
    <span class="pi pi-step-backward"></span>
  </button>
  <button
    pButton
    type="button"
    class="p-button-text p-button-sm"
    [title]="isPaused ? 'Play' : 'Pause'"
    (click)="togglePause()"
  >
    <span [class]="isPaused ? 'pi pi-play' : 'pi pi-pause'"></span>
  </button>
  <button
    pButton
    type="button"
    class="p-button-text p-button-sm"
    title="Next"
    (click)="next()"
    [disabled]="!isPaused"
  >
    <span class="pi pi-step-forward"></span>
  </button>
  <button
    pButton
    type="button"
    class="p-button-text p-button-sm"
    title="Forward"
    (click)="forward()"
    [disabled]="!isPaused"
  >
    <span class="pi pi-forward"></span>
  </button>

  <div *ngIf="currentMessageIndex > 0 && isPaused">
    {{ currentMessageIndex }} / {{ numberOfMessages }}
  </div>
</span>
